.parallax {
  margin: $space-xhuge 0 $space-xhuge 0;
  width: 100%;
  height: 60rem;

  &__bcg {
    background: url("../img/para-x.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 60rem;
  }
}
